<?xml version="1.0"?>
<launch>

  <!-- send urdf to param server -->
  <!-- To use .xacro replace here -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find home_service_robot)/urdf/q802_skid_steer_bot.xacro'" /> 

  <!-- rviz integration -->
  <!-- Send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
  </node>

  <!-- Send robot states to tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>
